
<i class="fa fa-bars bars-button" aria-hidden="true" id="bars-button"></i>
<div class="navbar_nav">
    
        <nav class="nav__bars">
            <div class="nav__titulo">
                <a href="#">
                    <h2>NCIS</h2>
                </a>
            </div>
            <ul class="nav__ul">
                <li class="nav__li"><a href="#">HOME</a></li>
                <li class="nav__li"><a href="#">BLOG</a></li>
                <li class="nav__li"><a href="#">TEMPORADA</a></li>
                <li class="nav__li"><a href="#">SOBRE NOSOTROS</a></li>
            </ul>
        </nav>
</div>
