<!-- <h1 class="titulo center" id="titul"> temporada 1</h1> -->
<section class="layout listcap">
  <article class="cap">
    <p class="sub">lol</p>
    <img src="../assets/image/1572109073.png" alt="" />
    <a href="#" target="_blank">Parte 1</a>
    <a href="#" target="_blank">Parte 2</a>
    <a href="#" target="_blank" class="option">Parte 3</a>
  </article>
  <article class="cap">
    <p class="sub">lol</p>
    <img src="../assets/image/1572109073.png" alt="" />
    <a href="#" target="_blank">Parte 1</a>
    <a href="#" target="_blank">Parte 2</a>
    <a href="#" target="_blank" class="option">Parte 3</a>
  </article>
  <article class="cap">
    <p class="sub">lol</p>
    <img src="../assets/image/1572109073.png" alt="" />
    <a href="#" target="_blank">Parte 1</a>
    <a href="#" target="_blank">Parte 2</a>
    <a href="#" target="_blank" class="option">Parte 3</a>
  </article>
  <article class="cap">
    <p class="sub">lol</p>
    <img src="../assets/image/1572109073.png" alt="" />
    <a href="#" target="_blank">Parte 1</a>
    <a href="#" target="_blank">Parte 2</a>
    <a href="#" target="_blank" class="option">Parte 3</a>
  </article>
  <article class="cap">
    <p class="sub">lol</p>
    <img src="../assets/image/1572109073.png" alt="" />
    <a href="#" target="_blank">Parte 1</a>
    <a href="#" target="_blank">Parte 2</a>
    <a href="#" target="_blank" class="option">Parte 3</a>
  </article>
  <article class="cap">
    <p class="sub">lol</p>
    <img src="../assets/image/1572109073.png" alt="" />
    <a href="#" target="_blank">Parte 1</a>
    <a href="#" target="_blank">Parte 2</a>
    <a href="#" target="_blank" class="option">Parte 3</a>
  </article>
  <article class="cap">
    <p class="sub">lol</p>
    <img src="../assets/image/1572109073.png" alt="" />
    <a href="#" target="_blank">Parte 1</a>
    <a href="#" target="_blank">Parte 2</a>
    <a href="#" target="_blank" class="option">Parte 3</a>
  </article>
</section>


